<h1>口コミ投稿</h1>
<h3>投稿一覧</h3>
<%= link_to "新規投稿へ", new_tweet_path %>
<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
      <h8>学部 :</h8><%= t.department %>
       <br><h8>学科 :</h8><%= t.subject %>
        <br><h8>研究室 :</h8><%= t.laboratory %>
         <br><h8>分野 :</h8><%= t.field %>
          <br><h8>満足度 :</h8><%= t.star %>
           <br><h8>コアタイム :</h8><%= t.coretime %>
            <br><h8>コメント :</h8><%= t.body %>
             <br><h8>投稿日時 :</h8><%= t.created_at %>

      <%= link_to "詳細へ", tweet_path(t.id) %>
      <%= link_to "削除する", tweet_path(t.id), method: :delete %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
    </div>
  <% end %>
</div>
